<!-- footer -->
 <link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Blogger</h1>
      <p>
        Where ideas find their audience.
      </p>
    </div>
     
       
  </footer>
